
 html {
   background-color: #bbb;
 }
 body
{
    max-width:100%;
    margin:0 auto;
    font-family: Georgia, 'Times New Roman', serif;
    color: #555;
    font-size: 16px;
 }
 
a { color: #555;text-decoration:none;}
a:hover { color:#F04850; }
a:focus{ color:#1FA67A;}
p { font-size:1em; line-height:1.7; font-family: monospace; }

#branding {
	padding: 20px 30px 0px;
	display:block;
}
#site-title,#site-description {
	padding:5px 0 20px;
	margin:0;
}

#site-title{
        font-size:3em;
	letter-spacing:0.1em;
}
#site-description {
        font-size:2em;
	letter-spacing:0.1em;
}

#page {
    display: block;
    margin:0 auto;
    background:#fff;
    position: relative;
    width: 66%;
    min-height: inherit;
}


 #main {
   clear: both;
   padding-top: 30px;
   padding-bottom: 20px;

 }
 #content {
  margin: 10px 30px 20px;
}

 #content article.post {
display: block;
border-bottom: 1px dotted;
padding-bottom: 2em;
}
#content .entry-header {margin: 20px;}

#content .entry-header .entry-title {font-size:37px;}

 #access {
 background-color: gold;
 display:block;
 width:100%;
 float:left;
 margin-bottom:180px;
 z-index:3;
 position:relative;
 }

 #access ul {
 list-style:none outside none;
 z-index:4;
 padding:2px;
 }

 #access ul ul {
 background-color:#444;
 box-shadow:0 6px 4px -6px #000;
 display:none;
 float:left;
 position:absolute;
 top:20px;
 left:0;
 border-radius:4px;
 }

 #access ul ul ul {
 left:100%;
 top:0;
 }
 

 #access ul ul li a {
 color:#fff;
 height:auto;
 min-width: 100px;
 padding:.4em .4em .4em 1em;
 }

 #access ul ul li:first-child a {
 border:0 none;
 box-shadow:none;
 }

 #access .current_page_item a {
 color:#F04850;
 }

 #access ul ul li a:hover {
 background:#F04850;
 color:#fff;
 border-radius:4px;
 }

 #access li {
 display:block;
 float:left;
 position:relative;
 }

 #access a,#access a:visited {
 display:block;
 line-height:1.5em;
 padding-right:1.5em;
 text-decoration:none;
 font-family: monospace;
 font-size: 15px;
 }

 #access ul li:hover > ul {
 display:block;
 }

 #access ul ul:before {
 background-color:#444;
 content:"";
 height:8px;
 left:15%;
 position:absolute;
 top:0;
 transform:rotate(45deg);
 transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
 width:8px;
 margin:-4px 0 0 -4px;
 }
