 html {
   font-size: 62.5%;
   font-family:sans-serif;
   background-color: #bbb;
 }

 body
{
   margin: 0 auto;
     color: #555;
     font-size: 1.7rem;
 }
 
 #branding {
    display: block;
    clear: both;
    margin: 0;
    padding: 40px 30px 0px;
}

 #site-title {
     font-size: 3em;
     letter-spacing: -2px;
     margin-left: 30px;
     font-weight: 200;
 }
 #site-description {
     font-size: 2em;
     color:#1FA67A;
     font-weight: 300;
     margin-left: 30px; }
  #page {
     display: block;
     margin: 0 auto;
     position: relative;
	  width:80%;
    background-color: #ccc;
 }
 #main {
     clear: both;
 }
 #content {
     margin: 30px;
 }

 .entry-header {
     padding: 0;
     margin: 10px auto;
     font-size: 24px;
     color: black;
 }
  a { color: #555;transition:all .6s;text-decoration:none;}
  a:hover { color:#F04850; }
  a:focus{ color:#1FA67A; transition:all .7s;}
 
 #access {
 display:block;
 width:100%;
 border-bottom:1px solid #ccc;
 float:left;
 margin-bottom:25px;
 z-index:3;
 position:relative;
 }

 #access ul {
 list-style:none outside none;
 z-index:4;
 margin:0px 30px;
 padding:2px;
 }

 #access ul ul {
 background-color:#444;
 box-shadow:0 6px 4px -6px #000;
 display:none;
 float:left;
 position:absolute;
 top:2em;
 left:0;
 border-radius:4px;
 }

 #access ul ul ul {
 left:100%;
 top:0;
 }

 #access ul ul li a {
 color:#fff;
 line-height:1em;
 height:auto;
 width:150px;
 padding:.4em .4em .4em 1em;
 }

 #access ul ul li:first-child a {
 border:0 none;
 box-shadow:none;
 }

 #access .current_page_item a {
 color:#F04850;
 }

 #access ul ul li a:hover {
 background:#F04850;
 color:#fff;
 border-radius:4px;
 }

 #access li {
 display:block;
 float:left;
 position:relative;
 font-weight:300;
 }

 #access a,#access a:visited {
 display:block;
 line-height:2em;
 padding-right:1.5em;
 text-decoration:none;
 font-weight: 400;
 }
#access a { color: #555;transition:all .6s;text-decoration:none;}
#access a:hover { color:#F04850; }
#access a:focus{ color:#1FA67A; transition:all .7s;}

 #access ul li:hover > ul {
 display:block;
 }

 #access ul ul:before {
 background-color:#444;
 content:"";
 height:8px;
 left:15%;
 position:absolute;
 top:0;
 transform:rotate(45deg);
 width:8px;
 margin:-4px 0 0 -4px;
 }
