html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}

html {
   background-color: #bbb;
 }
 
 body
{
	font-family: Georgia, 'Times New Roman', serif;
	color: #555;
	background: #fff;
	line-height: 1.6875;
}

@media screen and (min-width: 68.7500em){body{font-size: 1.0625em;}}
@media screen and (min-width: 77.5000em){body{font-size: 1.1250em;}}
/*@media screen and (min-width: 87.6875em){body{font-size: 1.1875em;}}*/
/* Titraille / Intertitres */
h1,h2,h3,h4,h5 {
	clear: both;
	font-weight: normal;
	line-height: 1.375;
}

h1 { font-size: 2.1250em; }
h2 { font-size: 1.6875em; }
h3 { font-size: 1.3750em; }
h4 { font-size: 1.1250em; }
h5 { font-size: 1.0625em; }
a { color: #555;text-decoration:none;}
a:hover { color:#F04850; }
a:focus{ color:#1FA67A;}
p { font-size:1em; line-height:1.7; font-family: monospace; }

#branding {
   display: block;
    clear: both;
    margin: .875em auto;
}

#site-title {
    font-size: 3.25em;
    line-height: 1.2173913043;
    letter-spacing: -2px;
}
#site-description {
	font-style: italic;
	font-family: serif;
	font-size: 1.125em;
	margin: 0 0 1em;
	height: auto;
	width: 100%;
}

#page {
    display: block;
    margin:0 auto;
    background:#fff;
    position: relative;
    max-width: 60em;
    padding: 0 1em;
}


 #main {
   clear: both;
 }
 
 #content {
  margin: 0;
}

 #content article.post {
display: block;
border-bottom: 1px dotted;
padding-bottom: 2em;
margin-bottom: 2em;
}
#content .entry-header {margin: 0 0 2em;}

#content .entry-header .entry-title {font-size:2.125em;}

 #access {
    width: 100%;
    float: left;
    margin-bottom: 6em;
    padding: 1em 0;
    border-bottom: 1px solid #000;
 }

 #access ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
 }

 #access ul ul {
 background-color:#444;
 box-shadow:0 6px 4px -6px #000;
 display:none;
 float:left;
 position:absolute;
 top:20px;
 left:0;
 border-radius:4px;
 }

 #access ul ul ul {
 left:100%;
 top:0;
 }
 

 #access ul ul li a {
 color:#fff;
 height:auto;
 min-width: 100px;
 padding:.4em .4em .4em 1em;
 }

 #access ul ul li:first-child a {
 border:0 none;
 box-shadow:none;
 }

 #access .current_page_item a {
 color:#F04850;
 }

 #access ul ul li a:hover {
 background:#F04850;
 color:#fff;
 border-radius:4px;
 }

 #access li {
 display:block;
 float:left;
 position:relative;
 }

 #access a,#access a:visited {
 display:block;
 line-height:1.5em;
 padding-right:1.5em;
 text-decoration:none;
 font-family: monospace;
 font-size: 15px;
 }

 #access ul li:hover > ul {
 display:block;
 }

 #access ul ul:before {
 background-color:#444;
 content:"";
 height:8px;
 left:15%;
 position:absolute;
 top:0;
 transform:rotate(45deg);
 transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
 width:8px;
 margin:-4px 0 0 -4px;
 }
